body{
    background-color: aqua;
}
h1{
    color: blue;
}
h6{
    color: green;
}
img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px solid green;
    box-shadow: 1px 1px 3px 3px;
}
